{% unless num_words %}
  {% assign num_words = 75 %}
{% endunless %}

{% for post in posts limit: listing_limit %}
<h2><a href="{{ post.url }}">{{ post.title}}</a></h2>

<h4>
  Posted on {{ post.date | format_date }}
  {% unless no_category %}
  {% if post.category %}
  in <a href="/categories/{{ post.category | slugize }}">{{ post.category }}</a>
  {% endif %}
  {% endunless %}
</h4>

<p>
  {% unless post.show_content_in_index %}
    {{ post.content | strip_html | truncatewords: num_words }}
    <p><a href="{{ post.url }}">Read more...</a></p>
  {% else %}
    {{ post.content }}
  {% endunless %}
</p>
<br/>
{% endfor %}
