<div class="blog-icons">
<a href="http://feeds.feedburner.com/jhchabran">
  <i class="icon-rss"></i>
</a>
<a href="http://twitter.com/jhchabran">
  <i class="icon-twitter"></i>
</a>
<a href="http://github.com/jchabran">
  <i class="icon-github"></i>
</a>
<a href="http://www.linkedin.com/profile/view?id=25800986&trk=tab_pro">
  <i class="icon-linkedin"></i>
</a>
</div>
<h3>Categories</h3>
{% category_list %}
<h3>Tags</h3>
{% tag_cloud %}
<h3>Archives</h3>
{% monthly_archives %}
<h4>Recommended books</h4>
{% include recommended-books.html%}
<h3>See also</h3>
<ul>
  <li><a href="http://railsfrance.com">RailsFrance</a></li>
  <li><a href="http://meetup.rubyparis.org/">ParisRB</a></li>
  <li><a href="http://pierrenespo.com/">Pierre Nespo</a></li>
  <li><a href="http://thenextfeature.com">The Next Feature</a></li>
  <li><a href="http://hackerloop.com">HackerLoop</a></li>
</ul>
<hr/>
<h4>Disclaimer</h4>
<p class="disclaimer">Some links on this website are affiliated.</p>
