:root {
  --theme: rgba(255, 255, 249, 1) !important;
  --code-bg: rgba(255, 255, 249, 1) !important;
  --entry: rgba(255, 255, 249, 1) !important;
  --primary: rgba(0, 0, 6, 0.88) !important;
  --secondary: rgba(0, 0, 6, 0.56) !important;
  --tertiary: rgba(0, 0, 6, 0.16) !important;
  --content: rgba(0, 0, 6, 0.88) !important;
}

.about-illustration img {
  padding-top: 2em;
  margin: 0 auto;
  width: 50%;
}
