---
layout: default
---

<div class="row">
  <div class="span8">
    <h2><a href="{{ page.url }}">{{ page.title}}</a></h2>
    <h4>
      Posted on {{ page.date | format_date }}
      {% unless no_category %}
      {% if page.category %}
      in <a href="/categories/{{ page.category | slugize }}">{{ page.category }}</a>
      {% endif %}
      {% endunless %}
    </h4>
    <hr/>

    <div class="post-content">
      {{ content }}
    </div>
    {% include disqus.html %}

  </div>
  <div class="offset1 span3">
    {% include sidebar.html %}
  </div>
</div>


